/* body {
  background-color: aquamarine;
} */

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.feedback-div-tela {
  background: url('./imagens/3.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.feedback-div {
  background: black;
  border: solid #f4dd00 5px;

  /* background: white; */
  border-radius: 100px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  height: 278px;
  margin-left: 46%;
  position: absolute;
  text-align: center;
  top: 280px;
  width: 439px;
}

.frases-div {
  align-items: center;
  color: #f4dd00;

  /* or 45px */
  display: flex;
  font-family: Courier New , Courier , monospace;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  height: 71px;
  left: 421px;
  line-height: 150%;
  margin-left: 15%;

  /* position: absolute; */
  text-align: center;
  text-transform: uppercase;
  top: 442px;
  width: 439px;

}

.frase-score-feedback {
  color: #f4dd00;

  /* font-size: 20px; */
  font-style: italic;

}

.frase-questoes-feedback {
  color: #f4dd00;

  /*  font-size: 20px; */
  font-style: italic;

}

.total-questoes-feedback {
  color: white;
  font-weight: 700;
}

.score-total-feedback {
  color: white;
  font-weight: 700;
}

.score-div {
  align-items: center;
  color: #b5b5b5;

  /* or 24px */
  display: flex;
  font-family: Courier New , Courier , monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 48px;
  justify-content: space-evenly;
  left: 464px;
  line-height: 150%;
  margin-left: 45px;

  /* position: absolute; */
  text-align: center;
  top: 513px;
  width: 353px;

}

.button-play-feedback {
  background: #f4dd00;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  font-weight: 800;
  height: 45px;
  left: 647.5px;
  top: 622px;
  width: 200px;
}

.button-play-feedback:hover {
  color: blue;
  font-size: 20px;
}

.button-ranking {
  background: #f4dd00;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 800;
  height: 45px;
  left: 421px;
  margin-left: 10px;
  margin-top: 40px;
  top: 622px;
  width: 200px;
}

.button-ranking:hover {
  color: blue;
  font-size: 20px;
}
