html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.ranking-div {
  background: url('./imagens/6.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}


.ranking-pessoas {
  color: white;
  display: flex;
  flex: wrap;
  justify-content: center;
  margin-left: 550px;
  margin-top: 8px;
  padding: 10px;
  width: 25%;
}

.nome-ranking {

  /* background-color: white;
  border: solid 1px yellow;
  border-radius: 10px; */
  color: white;

  /* color: white; */
  display: flex;
  font-family: Courier New , Courier , monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: 507px;
  line-height: 150%;
  margin-left: 50%;
  margin-top: 20px;
  text-align: center;

  /* position: absolute; */
  top: 354px;
  width: 184px;
}

.score-ranking {

  /* background-color: white;
  border: solid 1px yellow;
  border-radius: 10px; */
  color: white;

  /* color: white; */
  display: flex;
  font-family: Courier New , Courier , monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 24px;
  left: 702.42px;
  letter-spacing: 0.12em;
  line-height: 150%;
  margin-left: 50%;
  margin-top: 20px;
  text-align: center;
  top: 354px;
  width: 101px;

}

.ranking-botao {
  background: #f4dd00;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 800;
  height: 45px;
  left: 447px;
  margin-left: 100px;
  position: absolute;
  top: 700px;
  width: 350px;
}

.tags-ranking {

  /*  border: 5px solid yellow; */
  display: flex;
  flex: wrap;
  flex-direction: column;
  height: 500px;
  width: 800px;
}


.ranking-botao:hover {
  font-size: 20px;
}
