.ranking-title-div {
  color: white;
  margin-left: 140px;

  /*  background: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  height: 488px;
  left: 396px;
  position: absolute; */
  text-align: center;

  /* top: 148px;
  width: 489px; */
}

.ranking-pessoas {
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  margin-left: 550px;
  margin-top: 10px;
  padding: 10px;
  width: 25%;
}

.nome-ranking {
  align-items: center;

  /* background-color: white;
  border: solid 1px yellow;
  border-radius: 10px; */
  color: black;

  /* color: white; */
  display: flex;
  font-family: Courier New , Courier , monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 24px;
  left: 507px;
  line-height: 150%;

  /* position: absolute; */
  top: 354px;
  width: 184px;
}

.score-ranking {
  align-items: center;

  /* background-color: white;
  border: solid 1px yellow;
  border-radius: 10px; */
  color: black;

  /* color: white; */
  display: flex;
  font-family: Courier New , Courier , monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 24px;
  left: 702.42px;
  letter-spacing: 0.12em;
  line-height: 150%;
  top: 354px;
  width: 101px;

}

.ranking-botao {
  background: #2fc18c;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 45px;
  left: 447px;
  margin-left: 100px;
  position: absolute;
  top: 700px;
  width: 386px;
}

/* .ranking-div {
  border: 5px solid yellow;
}
 */
